@{
    ViewData["Title"] = "Home Page";
}

<section class="hero" >

    <div class="hero__over"></div>

    <img class="hero__img" src="/img/Hero.jpg"/>

    <div class="hero__content h-100 container-custom position-relative">
        <div class="d-flex h-100 align-items-center hero__content-width">
            <div class="text-white">
                <h1 class="fw-bold mb-4">Welcome To Your Product Manager</h1>
                <p class="lead mb-4 text-break lh-lg">we are glad you are here. The web product manager can make you more efficient and have control of your entire business, we are waiting for you. </p>
                <a class="btn btn-lg btn-outline-light" asp-area="" asp-controller="Product" asp-action="Index">Go To Products</a>
            </div>
        </div>
    </div>
</section>