@model List<Product>
@{
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
    ViewData["Title"] = "Products";
}

<div class="hero">
    <div class="hero__over"></div>
    <img class="hero__img" src="/img/img3.jpg" />
    <div class="hero__content h-100 container-custom position-relative ">
        <div class="row justify-content-center align-content-center hero__content-width">
            <div class="d-flex flex-row justify-content-center align-content-center">
                <h1 class="fw-bold mb-4 text-white">Our Products</h1>
            </div>
            <div class="d-flex flex-row justify-content-end align-content-center">
                <button class="bi bi-patch-plus btn btn-outline-success navbar-toggler justify-content-end" id="btnOpenModal"> Add Product</button>
            </div>
            <div class="row d-flex mt-3 w-100">
                <div class="text-center w-100">
                    <table class="table table-striped mt-3" id="table-products">
                        <thead class="thead-table text-white">
                            <tr>
                                <th>CreatAt</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody class="text-body text-white">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Products-->
<form id="createForm">
    <div class="modal fade" id="modalProducts" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="txtName" autocomplete="off" placeholder="Please Enter The Product Name!">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" id="txtDescription" autocomplete="off" placeholder="Please Enter The Product Description!"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" class="form-control" id="txtPrice" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="txtQuantity" autocomplete="off">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select class="form-select" id="listCategories"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger bi-x-square" data-bs-dismiss="modal"> Close</button>
                    <button type="submit" class="btn btn-primary bi bi-floppy2-fill" id="btn-saveChangesProducts"> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/product.js"></script>
}
